.notification {
  font-size: 19px;
  border-radius: 10px;
  position: fixed;
  padding: 12px;
  bottom: 65%;
  right: 100px;
  width: max-content;
  opacity: 0;

  &:not(.visible) {
    opacity: 0;
  }

  &.visible {
    animation-duration: 3s;
    animation-name: fadeInAndOut;
  }

  &.success {
    background-color: rgba(55, 116, 55, 0.603);
    color: darken(rgb(55, 116, 55), 20%);
  }

  &.fail {
    background-color: rgb(206, 61, 61, 0.603);
    color: darken(rgb(206, 61, 61), 20%);
  }
}

@media screen and (max-width:1260px) {
  :host {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 55px;
  }

  .notification {
    position: static;
  }
}