<section id="projects" *ngIf="projectSection" >
  <h2 class="title">{{ projectSection.title }}</h2>
  <div class="projects">
    <div class="projects-desc">
      <app-card *ngFor="let card of projectSection?.projects" 
      [logoPath]="card.logoPath" 
      [title]="card.title"
      [link]="card.link" 
      [description]="card.description" 
      [keyPoints]="card.keyPoints" 
      [technos]="card.technos" 
      [forkNumber]="card.forkNumber" 
      [size]="card.size" appInViewport></app-card>
    </div>
    <img *ngIf="projectSection.illustration" class="projects-illus" 
      [attr.src]="projectSection.illustration.path" 
      [attr.alt]="projectSection.illustration.altText" 
      loading="eager" 
      appInViewport
    >
  </div>
</section>