<section id="projects" *ngIf="projects">
  <h2 class="title">{{ projects.sectionTitle }}</h2>
  <section class="projects">
    <section class="projects-desc">
      <app-card *ngFor="let card of projects.projectsCards" 
      [logoPath]="card.logoPath" 
      [title]="card.title"
      [link]="card.link" 
      [description]="card.description" 
      [spotPoints]="card.spotPoints" 
      [technos]="card.technos" 
      [forkNumber]="card.forkNumber" 
      [size]="card.size" appInViewport></app-card>
    </section>
    <img class="projects-illus" src="{{ projects.illustrationPath }}" alt="{{ projects.illustrationDesc }}" loading="eager" appInViewport>
  </section>
</section>