<section class="card">

    <span class="card-header">
        <img src="{{ logoPath }}" alt="project icon">
        <h3 class="title"><a href="{{ link }}" target="_blank"> {{ title }} </a></h3>
    </span>

    <section class="card-description">
        <p>{{ description }}</p>
        <ul>
            <li *ngFor="let spotPoint of spotPoints">{{ spotPoint }}</li>
        </ul>
    </section>

    <section class="card-technical-infos">
        <section class="infos">

            <section class="techs">
                <section class="tech" *ngFor="let techno of technos">
                    <section class="badge {{ techno.color }}"></section>
                    <p>{{ techno.name }}</p>
                </section>
            </section>

            <section class="fork">
                <img src="assets/icons/code-fork.svg" alt="fork icon">
                <p>{{  forkNumber }}</p>
            </section>
        </section>
        <p>{{ size | number : '1.1-1' }}MB</p>
    </section>

</section>
