<section class="contact" id="contact" *ngIf="contact" appInViewport>
  <h2>{{ contact.title }}</h2>
  <section class="contact-content"> 
    <span class="purpose">
      <p class="why">{{ contact.why }}</p>
      <p class="who">{{ contact.who }}​</p>
      <span class="mail">
        <p>{{ contact.mail }}</p>
        <img src="assets/icons/copy.png" alt="copy text icon" 
        (click)="copyMail()" (keypress.enter)="copyMail()" tabindex="0">
      </span>
      <span class="open">
        <p>Open for opportunities :</p>
        <p *ngIf="contact.openToWork; else elseBlock">Yes</p>
        <ng-template #elseBlock>No</ng-template>
      </span>
    </span>
    <span class="logos" >
      <a *ngFor="let link of contact.links" href="{{link.url}}" target="{{link.targetAttribute}}" appMouseHover>
        <img src="{{link.icon.path}}" alt="{{link.icon.description}}">
        <img src="{{link.icon.hoverPath}}" alt="{{link.icon.description}}">
      </a>
    </span>
  </section>
</section>
<app-notification [message]="'Mail copied successfully'"></app-notification>
