@import "../../../../styles.scss";

:host {
  font-size: 19px;
}

section.contact {
  display: flex;
  flex-direction: column;
  padding-top: 88px;

  .contact-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .purpose {

    .why {
      font-weight: 700;
      color: $grey-dark;
    }

    .mail {
      margin-top: 8px;
      font-weight: 700;
      display: flex;
      gap: 6px;
      align-items: center;

      img {
        height: 18px;

        &:hover {
          height: 20px;
          cursor: pointer;
        }
      }
    }

    .open {
      display: flex;
      gap: 4px;

      :last-child {
        font-weight: 700;
      }
    }
  }

  .logos {
    display: flex;
    gap: 8px;

    a {
      img {
        width: 32px;
      }
      
      img:first-child {
        display: flex;
      }
      img:last-child {
        display: none;
      }

      &.hover {
        img:first-child {
          display: none;
        }
        img:last-child {
          display: flex;
        }
      }
    }
  }

  &:not(.visible) {
    transform: translateY(17%);
  }

  &.visible {
    animation-duration: 2s;
    animation-name: slideUp;
    animation-fill-mode: both;
  }
}

@media screen and (max-width: 1260px) {
  section.contact {
    margin-bottom: 0;
    margin-right: 0;
    align-items: center;
    text-align: center;

    .open, .logos, .mail {
      justify-content: center;
    }
  }
}
