:host {
  font-size: 19px;
}

section.contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;

  .contact-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .purpose {

    .why {
      text-transform: uppercase;
      font-weight: 700;
      color: #868e96;
    }

    .mail {
      margin-top: 8px;
      font-weight: 700;
      display: flex;
      gap: 6px;
      align-items: center;

      img {
        height: 18px;

        &:hover {
          height: 20px;
          cursor: pointer;
        }
      }
    }

    .open {
      display: flex;
      gap: 4px;

      :last-child {
        font-weight: 700;
      }
    }
  }

  .logos {
    display: flex;
    gap: 8px;

    img {
      width: 32px;

      &:hover.git {
        content: url(../../../../assets/logos/github-black.png);
      }
      &:hover.linkedin {
        content: url(../../../../assets/logos/linkedin-black.png);
      }
    }
  }

  &:not(.visible) {
    transform: translateY(17%);
  }

  &.visible {
    animation-duration: 2s;
    animation-name: slideUp;
    animation-fill-mode: forwards;
  }
}

@media screen and (max-width: 1260px) {
  
  section.contact {
    margin-bottom: 64px;
    margin-right: 0;
    align-items: center;
    text-align: center;

    .open, .logos, .mail {
      justify-content: center;
    }
  }
}

