<section class="contact" id="contact" appInViewport>
  <h2>Reach out to me</h2>
  <section class="contact-content"> 
    <span class="purpose">
      <p class="why">Discuss a project or just wanna say hi ?</p>
      <p class="who">My inbox is open for all​​</p>
      <span class="mail">
        <p>sophie.bat&#64;hotmail.fr</p>
        <img src="assets/icons/copy.png" alt="copy text icon" (click)="copyMail()" (keypress.enter)="copyMail()" tabindex="0">
      </span>
      <span class="open">
        <p>Open for opportunities :</p><p>Yes</p>
      </span>
    </span>
    <span class="logos" >
      <a href="https://github.com/SophieBatumbo" target="_blank"><img class="git" src="assets/logos/github.png" alt="github link"></a>
      <a href="https://www.linkedin.com/in/sophie-batumbo-4a288614b/" target="_blank"><img class="linkedin" src="assets/logos/linkedin.png" alt="linkedin link"></a>
    </span>
  </section>
</section>
<app-notification [message]="'Mail copied successfully'"></app-notification>
