div#education{
  display: flex;
  gap: 48px;
  padding-top: 52px;

  .illus {
    max-width: 512px;
    max-height: 512px;
    height: fit-content;
    align-self: center;
    z-index: -1;

    &:not(.visible) {
      opacity: 0;
    }

    &.visible {
      animation-duration: 2s;
      animation-name: fadeIn;
      animation-fill-mode: both;
    }
  }

  .education-body {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  @media screen and (max-width: 1770px) {
    .illus {
      position: inherit;
    }
  }

  @media screen and (max-width: 1260px) {
    gap: 0;
    flex-direction: column-reverse;
    padding-top: 100px;

    h2 {
      align-self: center;
    }

    .education-body {
      gap: 24px;
    }
  }

  @media screen and (max-width: 760px) {
    padding-top: 80px;

    .illus {
      margin-bottom: 0;
      width: 105%;
    }
  }
}