.skills{
  display: flex;
  gap: 24px;
  justify-content: space-evenly;

  &-desc {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .title {
      margin-top: 56px;
    }

    .logos-and-skills-list {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .logos {
      display: flex;
      gap: 20px;
      justify-content: center;

      span {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        justify-content: end;
      }

      img {
        height: 68px;
        filter: grayscale(100%);

        &:hover {
          filter: none;
          transform: translateY(-2px);

          +legend {
            font-weight: 700;
          }
        }
      }

      legend {
        font-size: 16px;
        color: #868e96 ;
      }
    }

    &:not(.visible) {
      opacity: 0;
      transform: translateX(100%);
    }

    &.visible {
      animation-duration: 2s;
      animation-name: slideInFromRight;
      opacity: 1;
      animation-fill-mode: forwards;
    }
  }

  &-illus {
    display: flex;
    max-width: 600px;
    max-height: 600px;
    height: fit-content;
    align-self: center;

    &:not(.visible) {
      transform: translateX(-100%);
    }

    &.visible {
      animation-duration: 2s;
      animation-name: slideInFromLeft;
      animation-fill-mode: forwards;
    }
  }

  &-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 0;
    font-size: 19px;
    color: #868e96;

    > li {
      display: flex;
    }
    > li::before {
      display: block;
      content: url(../../../../assets/icons/decorator-circle-basic.svg);
      width: 12px;
      padding-right: 8px;
      flex-shrink: 0;
    }
  }

  @media screen and (max-width: 1260px) {
    flex-direction: column-reverse;
    gap: 0;

    &-desc {
      height: auto;
      align-items: center;

      .title {
        margin-top: 0;
      }

      .logos {
        flex-wrap: wrap;
        justify-content: center;
      }
    }

    &-illus {
      width: 85%;
      align-self: center;

      &:not(.visible) {
        transform: translateX(-50%);
      }
    }

    &-list {
      font-size: 19px;
      line-height: 24px;
    }
  }

  @media screen and (max-width: 760px) {
    &-desc {
      .logos {
        img {
          filter: none;
        }
      }
    }

    &-illus {
      width: 115%;
    }

    &-list {
      text-align: center;
    }
  }

  @media screen and (min-width: 1260px) {
    &-list {
      line-height: 40px;
    }
  }
}