<section class="skills" id="skills">
   <img class="skills-illus" src="{{ skills.illustrationPath }}" alt="{{ skills.illustrationDesc }}" inViewport [treshold]="0.1">
   <div class="skills-desc" inViewport [treshold]="0.05">
        <h2 class="title" *ngIf="skills.title">{{ skills.title }}</h2>
        <div class="logos-and-skills-list">
            <div class="logos" >
                <span *ngFor="let logo of skills.logos">
                    <img src="{{ logo.path }}" alt="">
                    <legend>{{ logo.legend }}</legend>
                </span>
            </div>
            <ul class="skills-list"><li *ngFor="let skill of skills.skills_names"> {{ skill }} </li></ul>
        </div>
    </div>
</section>

