<section class="card">

    <span class="card-header">
        <img [attr.src]="logoPath" alt="project icon">
        <h3 class="title">{{ title }}</h3>
    </span>

    <section class="card-description">
        <p class="card-description-text">{{ description }}</p>
        <ul class="card-description-keypoints">
            <li *ngFor="let keyp of keyPoints">{{ keyp }}</li>
        </ul>
    </section>

    <section class="card-technical-infos">
        <section class="infos">

            <section class="techs">
                <section class="tech" *ngFor="let techno of technos">
                    <section class="badge {{ techno.color }}"></section>
                    <p>{{ techno.name }}</p>
                </section>
            </section>

            <section class="fork">
                <img src="assets/icons/code-fork.svg" alt="fork icon">
                <p>{{  forkNumber | shortNumber }}</p>
            </section>

            <p class="size">{{ size | number : '1.1-1' }}MB</p>

        </section>
        
        <app-button
        [action]="'See ' + title" 
        [pictogramPath]="'assets/icons/external-link.png'"
        [isExternalLink]="true"
        [externalLink]="link"
        [isSmall]="true"
        ></app-button>
    </section>

</section>
