<div class="card">

    <span class="card-header">
        <img [attr.src]="logoPath" alt="project icon">
        <h3 class="title">{{ title }}</h3>
    </span>

    <div class="card-description">
        <p class="card-description-text">{{ description }}</p>
        <ul class="card-description-keypoints">
            <li *ngFor="let keyp of keyPoints">{{ keyp }}</li>
        </ul>
    </div>

    <div class="card-technical-infos">

        <div class="infos">

            <div class="techs">
                <div class="tech" *ngFor="let techno of technos">
                    <span class="badge {{ techno.color }}"></span>
                    <p>{{ techno.name }}</p>
                </div>
            </div>

            <div class="fork">
                <img src="assets/icons/code-fork.svg" alt="fork icon">
                <p>{{  forkNumber | shortNumber }}</p>
            </div>

            <p class="size">{{ size | number : '1.1-1' }}MB</p>

        </div>
        
        <app-button
        [action]="'See ' + title" 
        [pictogramPath]="'assets/icons/external-link.png'"
        [isExternalLink]="true"
        [externalLink]="link"
        [isSmall]="true"
        ></app-button>
    </div>

</div>
