:host {
  display: flex;
  justify-content: center;
  background-image: url('../../../assets/layout/separator-bottom-wave.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 60%;
  padding: 0;
}

footer {
  color: white;
  font-size: 19px;
  margin-bottom: 24px;
  display: flex;
  align-items: end;
}

@media screen and (max-width: 1640px) {
  :host  {
    height: 49%;
  }
}

@media screen and (max-width: 1260px) {
  :host {
    height: 35%;
  }

  footer {
    margin-bottom: 6px;
    font-size: 12px;
  }
}

@media screen and (max-width: 760px) {
  :host  {
    height: 12%;
  }
}
