<section class="contact" inViewport>
  <h2>Reach out to me</h2>
  <div class="footer-content"> 
    <span class="purpose">
      <p class="why">Discuss a project or just wanna say hi ?</p>
      <p class="who">My inbox is open for all​​</p>
      <span class="open">
        <p>Open for opportunities :</p><p>Yes</p>
      </span>
    </span>
    <span class="logos" >
      <a href="https://github.com/SophieBatumbo" target="_blank"><img class="git" src="assets/logos/github.png" alt="github link"></a>
      <a href="https://www.linkedin.com/in/sophie-batumbo-4a288614b/" target="_blank"><img class="linkedin" src="assets/logos/linkedin.png" alt="linkedin link"></a>
    </span>
</div>
</section>

<footer>
  Made from scratch with ❤️ and Angular, have a nice day
</footer>
