:host {
  display: flex;
  justify-content: center;
  background-image: url('../../../../assets/layout/separator-bottom-wave.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  aspect-ratio: 5 / 1;
  padding: 0;

  animation: fadeIn 1s 1s 1; 
  animation-fill-mode: both;
}

footer {
  color: white;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  .infos {
    font-weight: 400;
  }
}

@media screen and (max-width: 1260px) {
  footer {
    margin-bottom: 6px;
    font-size: 16px;
  }
}

@media screen and (max-width: 760px) {
  footer {
    font-size: 12px;

    .infos {
      display: none;
    }
  }
}