<section class="exp-section" id="workexperiences" *ngIf="experienceSection">
  <h2 class="title">{{ experienceSection.title}}</h2>
  <span class="experiences">
    <app-experience *ngFor="let workExperience of experienceSection.experiences" 
    [company]="workExperience.company" 
    [logoPath]="workExperience.logoPath" 
    [jobTitle]="workExperience.jobTitle" 
    [description]="workExperience.description" 
    [period]="workExperience.period" appInViewport></app-experience>
  </span>
</section>
