section#workexperiences {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 100px;

  .experiences {
    display: flex;
    gap: 44px 9%;
    flex-wrap: wrap;
    justify-content: space-evenly;

    > :nth-child(n).visible {
      animation: fadeIn 1s 0s 1;
      animation-fill-mode: both;
    }
    > :nth-child(2n).visible {
      animation: fadeIn 1s 0.25s 1;
      animation-fill-mode: both;
    }
    > :nth-child(3n).visible {
      animation: fadeIn 1s 0.5s 1;
      animation-fill-mode: both;
    }
  }

  @media screen and (max-width: 1260px) {
    &.exp-section{
      align-items: center;
    }

    .experiences {
      flex-wrap: wrap;
      gap: 42px;
    }
  }

  @media screen and (max-width: 760px) {
    padding-top: 88px;

    .experiences {
      gap: 24px;

      > .visible {
        animation: fadeIn 1s 0s 1;
        animation-fill-mode: both;
      }
    }
  }
}
