button {
  padding: 12px 16px;
  border-radius: 6px;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  background-color: #a9735b;
  color: white;

  &:hover {
    background-color: darken(#a9735b, 10%);
  }
}