:host {
  position: relative;
  top: calc(46px + 32px + 32px);

  @media screen and (max-width: 760px) {
    top: calc(46px + 16px + 16px);
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin: 0;

  @media screen and (max-width: 760px) {
    gap: 60px;
  }

  @media screen and (min-width: 1261px) {
    &:first-child {
      margin-top: 80px;
    }
  }
}

.page-title {
  margin: 4px auto;
}