<div class="card">

    <span class="card-header">
        <img src="{{ logoPath }}" alt="project icon">
        <h4 class="title"><a href="{{ link }}" target="_blank"> {{ title }} </a></h4>
    </span>

    <div class="card-description">
        <p>{{ description }}</p>
        <ul>
            <li *ngFor="let spotPoint of spotPoints">{{ spotPoint }}</li>
        </ul>
    </div>

    <div class="card-technical-infos">
        <div class="infos">

            <div class="techs">
                <div class="tech" *ngFor="let techno of technos">
                    <div class="badge {{ techno.color }}"></div>
                    <p>{{ techno.name }}</p>
                </div>
            </div>

            <div class="fork">
                <img src="../../../assets/icons/code-fork.svg" alt="fork icon">
                <p>{{  forkNumber }}</p>
            </div>
        </div>
        <p>{{ size | number : '1.1-1' }}MB</p>
    </div>

</div>
