<button *ngIf="action" [attr.aria-label]="action" [ngClass]="{'small' : isSmall}">
    <span *ngIf="pictogramPath" class="icon">
        <img [src]="pictogramPath" alt="Button Icon">
    </span>
    <a *ngIf="downloadFile" [href]="downloadFile.url" target="_blank" [download]="downloadFile.name">
      {{ action }}
    </a>
    <a *ngIf="isMailTo && !downloadFile" href="mailto:sophie.bat@hotmail.fr">
      {{ action }}
    </a>
    <a *ngIf="isExternalLink && externalLink && !downloadFile && !isMailTo" [href]="externalLink" target="_blank">
      {{ action }}
    </a>
    <span *ngIf="!isMailTo && !downloadFile && !isExternalLink ">
      {{ action }}
    </span>
</button>
