@import "../../../../styles.scss";

button {
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 1.25rem;
  text-transform: capitalize;
  border: none;
  background-color: $primary-color;
  color: white;
  display: flex;
  gap: 8px;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  &.small{
    font-size: 0.9rem;
    padding: 6px 12px;
    gap: 4px;

    .icon > img {
      height: 16px;
    }
  }

  a {
    text-decoration: none;
    color: white;

    &:visited {
      color: white;
    }
  }

  .icon {
    display: flex;

    > img {
      height: 24px;
      align-self: center;
    }
  }
}

@media screen and (max-width: 760px) {
  :host {
    width: 100%;
    display: flex;
  }

  button {
    flex: 1 0 100%;
    justify-content: center;

    &.small{
      padding: 12px 16px;
      font-size: 1.1rem;

      .icon > img {
        height: 24px;
      }
    }
  }
}