section {
  display: flex;
  flex-direction: column;
  grid-area: 24px;

  .education-body {
    display: flex;
    gap: 24px;

    img {
      width: 38%;
      margin-bottom: 80px;
    }
  }

  @media screen and (max-width: 1260px) {
    .education-body {
      gap: 0;
      flex-direction: column;

      img {
        margin-bottom: 180px;
      }
    }
  }

  @media screen and (max-width: 760px) {
    .education-body {
      img {
        margin-bottom: 56px;
      }
    }
  }
}