section{
  display: flex;
  flex-direction: column;
  gap: 32px;

  .education-body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;

    .illus {
      max-width: 590px;
      max-height: 590px;
      height: fit-content;
      align-self: center;

      &:not(.visible) {
        opacity: 0;
      }
  
      &.visible {
        animation-duration: 2s;
        animation-name: fadeIn;
        animation-fill-mode: forwards;
      }
    }
  }

  @media screen and (max-width: 1770px) {
    .education-body {
      flex-direction: column;
      gap: 0;

      .illus {
        position: inherit;
      }
    }
  }

  @media screen and (max-width: 1260px) {
    h2{
      align-self: center;
    }
  }

  @media screen and (max-width: 760px) {
    .education-body {
      .illus {
        margin-bottom: 0;
        width: 105%;
      }
    }
  }
}