:host {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 2;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  justify-content: space-between ;
  font-size: 19px;
  margin: 16px 112px;
  align-items: center;
  
  .nav {
    &-logo {
      img {
        width: 68px;
      }

      .close {
        display: none;
      }
    }

    &-actions {
      display:flex;
      padding: 0;

      &-item {
        text-decoration: none;
        min-width: 116px;
        text-align: center;
        color: black;

        &:visited {
          color: black;
        }

        &:hover {
          font-weight: 700;
        }
      }
    }
  }

  @media screen and (max-width: 1260px) {
    margin-left: 56px;
    margin-right: 56px;
  }

  @media screen and (max-width: 860px) {
    margin: 16px 26px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .nav {
      &-logo {
        width: 100%;
        display: flex;
        justify-content: space-between;

        img {
          width: 52px;
          animation: fadeIn 1s 0s 1; 
          animation-fill-mode: both;
        }

        .nav-menu-btn {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          cursor: pointer;
          transition: all .5s ease-in-out;
  
          &-burger {
            width: 25px;
            height: 2px;
            background: black;
            border-radius: 5px;
            transition: all .5s ease-in-out;

            animation: fadeIn 1s 0.5s 1; 
            animation-fill-mode: both;
  
            &::before, &::after {
              content: '';
              position: absolute;
              width: 25px;
              height: 2px;
              background: black;
              border-radius: 5px;
              transition: all .5s ease-in-out;
            }
  
            &::before {
              transform: translateY(-8px);
            }
  
            &::after {
              transform: translateY(8px);
            }
          }
        }

        .nav-menu-btn.open > .nav-menu-btn-burger {
          transform: translateX(-25px);
          background: transparent;
          
          &::before {
            transform: rotate(45deg) translate(15px, -15px);
          }

          &::after {
            transform: rotate(-45deg) translate(15px, 15px);
          }
        }
      }

      &-actions {
        display: none;
        width: 100%;

        &.visible {
          display: flex;
          flex-direction: column;
          gap: 0;
          animation: slideDown 0.5s 1;
          margin: 0;

          .nav-actions-item {
            min-width: auto;
            text-align: initial;
            padding: 16px 0 ;

            &:nth-child(n):not(:last-child) {
              border-bottom: solid 1px #f4f4f4;
            }

            &:hover {
              background-color: #f4f4f4;
            }
          }
        }

        &.leave {
          animation: slideUp 0.5s 1;
          animation-fill-mode: both;
        }
      }
    }
  }
}
