<nav>
    <section class="nav-logo">
        <a href="#presentation" *ngIf="logo">
            <img [attr.src]="logo.path" [attr.alt]="logo.altText">
        </a>
        <div class="nav-menu-btn" 
            (click)="toggleMenu()" 
            (keypress.enter)="toggleMenu()" 
            [ngClass]="{ 'open': isOpened }" 
            tabindex="0">
            <div class="nav-menu-btn-burger"></div>
        </div>
    </section>
    <section 
        *ngIf="navActions" 
        class="nav-actions" 
        class="nav-actions" 
        [ngClass]="{ 'visible': isOpened, 'leave': !isOpened }" 
        tabindex="0"
    >
        <a href="#skills" class="action"> {{ navActions.at(0) }} </a>
        <a href="#workexperiences" class="action"> {{ navActions.at(1) }} </a>
        <a href="#projects" class="action"> {{ navActions.at(2) }} </a>
        <a href="#education" class="action"> {{ navActions.at(3) }} </a>
        <a href="#contact" class="action"> {{ navActions.at(4) }} </a>
    </section>
</nav>
