nav {
  display: flex;
  justify-content: space-between ;
  font-size: 19px;
  margin: 32px 0;
  
  .nav {
    &-logo {
      img {
        width: 68px;
      }
    }

    &-actions {
      display:flex;
      gap: 42px;

      a {
        text-decoration: none;
        color : black;
        &:visited {
          color : black;
        }
      }
    }
  }

  @media screen and (max-width: 760px) {
    margin-top: 16px;

    .nav {
      &-logo {
        img {
          width: 52px;
        }
      }

      &-actions {
        content: url(../../../assets/layout/bar.png);
        max-width: 32px;
        max-height: 36px;

        a {
          display: none;
        }
      }
    }
  }
}