<section id="presentation" *ngIf="presentation">
    <section class="presentation-desc" appInViewport [treshold]="0.2">
        <section class="title-and-desc">
            <h1 class="title">{{ presentation.title }} <img src="assets/icons/hand.svg" alt="hand icon"></h1>
            <p class="description">{{ presentation.description }}</p>
        </section>
        <section class="logos" >
            <a href="https://github.com/SophieBatumbo" target="_blank"><img class="git" src="assets/logos/github.png" alt="github link"></a>
            <a href="https://www.linkedin.com/in/sophie-batumbo-4a288614b/" target="_blank"><img class="linkedin" src="assets/logos/linkedin.png" alt="linkedin link"></a>
        </section>
        <section class="buttons">
            <app-button [action]="'Contact me'" [mail]="true"></app-button>
            <app-button [action]="'Download my resume'" [downloadFile]="downloadFile | async"></app-button>
        </section>
    </section>

    <img class="presentation-illus" src="{{ presentation.illustrationPath }}" alt="{{ presentation.illustrationDesc }}" loading="eager" appInViewport>
</section>
