<section id="presentation" *ngIf="presentation">
  <section class="presentation-desc" appInViewport [treshold]="0.2">
    <section class="title-and-desc">
      <h1 class="title">
        {{ presentation.title }}
        <img src="assets/icons/hand.svg" alt="hand icon" />
      </h1>
      <p class="description">{{ presentation.description }}</p>
    </section>
    <section class="logos">
      <a *ngFor="let link of presentation.links"
        href="{{ link.url }}"
        target="{{ link.targetAttribute }}"
        appMouseHover>
        <img src="{{ link.icon.path }}" alt="{{ link.icon.description }}" />
        <img src="{{ link.icon.hoverPath }}" alt="{{ link.icon.description }}"/>
      </a>
    </section>
    <section class="buttons">
      <app-button [action]="'Contact me'" [mail]="true"></app-button>
      <app-button
        [action]="'Download my resume'"
        [downloadFile]="downloadFile | async"
      ></app-button>
    </section>
  </section>

  <img
    *ngIf="presentation.illustration"
    class="presentation-illus"
    src="{{ presentation.illustration.path }}"
    alt="{{ presentation.illustration.description }}"
    loading="eager"
    appInViewport
  />
</section>
