@import "../../../../styles.scss";

div#presentation {
  display: flex;
  justify-content: space-evenly;
  padding-top: 112px;

  .presentation {
    &-desc {
      display: flex;
      flex-direction: column;
      gap: 32px;
      font-size: 30px;
      line-height: 48px;
      flex: 0 1 50%;

      .description {
        color: $grey-dark; 
      }

      .logos {
        display: flex;
        gap: 8px;

        a {
          img {
            width: 32px;
          }
          
          img:first-child {
            display: flex;
          }
          img:last-child {
            display: none;
          }
    
          &.hover {
            img:first-child {
              display: none;
            }
            img:last-child {
              display: flex;
            }
          }
        }
      }
    }

    &-illus {
      max-width: 590px;
      max-height: 590px;

      &:not(.visible) {
        opacity: 0;
      }
  
      &.visible {
        animation-duration: 2s;
        animation-name: fadeIn;
        animation-fill-mode: both;
      }
    }
  }

  .buttons {
    display: flex;
    gap: 32px;
  }

  @media screen and (max-width: 1260px) {
    flex-direction: column;
    gap: 24px;

    .presentation {
      &-desc {
        align-items: center;

        .title, .description {
          text-align: center;
        }
      }

      &-illus {
        align-self: center;
      }
    }
  }

  @media screen and (max-width: 760px) {
    .presentation {
      &-desc {
        font-size: 16px;
        line-height: 32px;
        margin-top: -16px;

        &.visible {
          animation: none;
        }

        .buttons {
          gap: 20px;
        }
      }

      &-illus {
        max-width: 365px;
        max-height: 365px;
      }
    }

    .buttons {
      flex-direction: column;
      width: 100%;
    }
  }
}