<div id="presentation" *ngIf="presentation">
  <div class="presentation-desc" appInViewport [treshold]="0.2">
    <section class="title-and-desc">
      <h1 class="title">
        {{ presentation.title }}
      </h1>
      <p class="description">{{ presentation.description }}</p>
    </section>
    <div class="logos">
      <a *ngFor="let link of presentation?.links"
        [attr.href]="link.url"
        target="{{ link.targetAttribute }}"
        appMouseHover>
        <img *ngIf="link.icon" [attr.src]="link.icon.path" [attr.alt]="link.icon.altText" />
        <img *ngIf="link.icon" [attr.src]="link.icon.hoverPath" [attr.alt]="link.icon.altText"/>
      </a>
    </div>
    <div class="buttons">
      <app-button 
        [action]="'Contact me'" 
        [isMailTo]="true"
        [pictogramPath]="'assets/icons/external-link.png'">
      </app-button>
      <app-button
        [action]="'Download resume'"
        [downloadFile]="downloadFile"
        [pictogramPath]="'assets/icons/download.png'"
      ></app-button>
    </div>
  </div>

  <img
    *ngIf="presentation.illustration"
    class="presentation-illus"
    [attr.src]="presentation.illustration.path"
    [attr.alt]="presentation.illustration.altText"
    loading="eager"
    appInViewport
  />
</div>
