section {
  display: flex;
  justify-content: space-between;

  .presentation-desc {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .logos {
      img {
        width: 32px;
      }
    }
  }

  .buttons {
    display: flex;
    gap: 24px;
  }
}