section, div, p, a, span, footer {
  font-family: 'Manrope', sans-serif;
}

h1, h2 {
  font-family: 'Manrope', sans-serif;
}

h1 {
  font-size: 70px;
  line-height: 68px;
}

h2 {
  font-size: 56px;
  margin: 0;
}

h3, h4, h5, h6, p {
  margin: 0;
}

html, body { 
  height: 100%; 
  margin: 0;
}

/* RESPONSIVE */
@media screen and (max-width: 760px) {
  h1 {
    margin: 0;
    font-size: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }
}

/* ANIMATIONS */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes fadeIn {
  0%{opacity: 0;}
  25%{opacity: 0.25;}
  50%{opacity: 0.50;}
  75%{opacity: 0.75;}
  100%{opacity: 1;}
}

@keyframes fadeInAndOut {
  0%{opacity: 0.75;}
  25%{opacity: 1;}
  90%{opacity: 1;}
  95%{opacity: 0.75;}
  100%{opacity: 0.50;}
}

@keyframes slideUp {
  from {
    transform: translateY(17%);
  }

  to {
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-15%);
  }

  to {
    transform: translateY(0%);
  }
}

