/* You can add global styles to this file, and also import other style files */
section, div, p a, span {
  font-family: 'Manrope', sans-serif;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 56px;
  margin: 0;
}

main {
  margin: 0 32px;
}
